.button {
    display: flex;
    padding: 13px 30px;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    align-items: center;
    justify-content: center;
    border-radius: 140px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: var(--second-color);
    }
}

@media (max-width: 575px) {
    .button {
        padding: 12px 31px;
        font-size: 14px;
        line-height: 145%;
        font-weight: 500;
    }
}