.calc {
    padding-top: 120px;
    &__wrapper {
        margin-top: 48px;
    }
    &__left {
        display: flex;
        flex-direction: column;
        gap: 28px 0px;
        border-radius: 20px;
        border: 1px solid #D8D8E3;
        padding: 38px;
        height: 100%;
        width: 100%;
    }
    &__right {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid var(--bg-pink);
        background: var(--bg-pink);
        padding: 43px 91px;
        height: 100%;
        width: 100%;
    }
    &__select {
        display: flex;
        flex-direction: column;
        gap: 18px 0px;
    }
    &__select-wrap {
        display: flex;
        gap: 0px 10px;
    }
    &__option {
        padding: 2px 28px;
        border-radius: 140px;
        border: 1px solid #D8D8E3;
        transition: all .3s ease;
        &:hover {
            background-color: var(--second-color);
            color: #fff;
            border: 1px solid var(--second-color);
        }
        &.active {
            background-color: var(--second-color);
            color: #fff;
            border: 1px solid var(--second-color);
        }
    }
    &__salary {
        margin-top: 10px;
        padding: 10px 23px;
        border-radius: 10px;
        background-color: var(--second-color);
        width: fit-content;
        span {
            font-family: 'Kudryashev';
            font-weight: 500;
            font-size: 51px;
            line-height: 110%;
            color: #fff;
        }
    }
    &__description {
        margin-top: 18px;
    }
}

@media (max-width: 1399px) {
    .calc {
        &__right {
            padding: 43px 75px;
        }
    }
}

@media (max-width: 1199px) {
    .calc {
        &__right {
            padding: 43px 75px;
        }
    }
}

@media (max-width: 991px) {
    .calc {
        &__wrapper {
            gap: 20px;
        }
    }
}

@media (max-width: 767px) {
    .calc {
        padding-top: 80px;
        &__wrapper {
            margin-top: 28px;
        }
    }
}

@media (max-width: 575px) {
    .calc {
        padding-top: 80px;
        &__title.text__h2 {
            font-size: 51px;
            line-height: 110%;
            .text__inner {
                font-size: 51px;
                line-height: 110%;
            }
        }
        &__left {
            padding: 28px;
            gap: 26px 0px;
        }
        &__right {
            padding: 28px 18px 28px 28px;
        }
        &__select {
            gap: 16px 0px;
        }
        &__caption.text__caption {
            font-size: 22px;
            line-height: 120%;
        }
        &__select-wrap {
            gap: 0px 11px;
        }
        &__salary {
            position: relative;
            padding: 10px 0px 0px 14px;
            width: 162px;
            height: 52px;
            span {
                font-size: 38px;
                line-height: 120%;
                position: absolute;
                right: -10px;
                top: 10px;
            }
        }
        &__description {
            margin-top: 14px;
            &.text__regular {
                font-weight: 500;
            }
        }
    }
}