.contacts {
    display: flex;
    gap: 20px;
    align-items: center;
    &__phone {
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;
        color: var(--main-color);
        padding: 4px 18px;
        border: 1px solid var(--main-color);
        border-radius: 140px;
        transition: color .3s ease;
        &:hover {
            color: var(--second-color);
        }
    }
    &__messanger {
        svg {
            width: 24px;
            height: 24px;
            path {
                transition: fill .3s ease;
            }
            &:hover {
                path {
                    fill: var(--second-color);
                }
            }
        }
    }
}


@media (max-width: 1199px) {
    .contacts {
        gap: 10px;
        &__phone {
            font-size: 15px;
        }
    }
}