.footer {
    position: relative;
    padding: 38px 0px;
    border-radius: 40px 40px 0px 0px;
    background-color: var(--bg-color);
    &__button {
        display: inline-block;
        padding: 14px 32px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px 0px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
        &-top {
            display: flex;
            gap: 18px;
        }
    }
    &__address {
        max-width: 207px;
        margin-bottom: 0;
    }
    &__description {
        font-weight: 400;
        font-size: 12px;
        line-height: 135%;
        color: var(--grey-color);
        margin-top: 71px;
        a {
            display: inline;
            color: var(--second-color);
        }
    }
    &__right {
        gap: 22px;
    }
}

@media (max-width: 1199px) {
    .footer {
        &__address.text__regular {
            font-size: 13px;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        padding-bottom: 146px;
        &__description {
            position: absolute;
            bottom: 28px;
            max-width: 349px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        border-radius: 30px 30px 0px 0px;
        &__button {
            padding: 12px;
        }
    }
}

@media (max-width: 575px) {
    .footer {
        padding: 28px 20px;
        padding-bottom: 146px;
        .logo {
            max-width: 150px;
        }

        &__list {
            margin-top: 18px;
        }
        &__contacts {
            gap: 14px;
            margin-top: 49px;
        }
        &__button {
            background-color: transparent;
            border: 1px solid var(--second-color);
            color: var(--second-color);
            &:hover {
                background-color: var(--second-color);
                color: white;
            }
        }
        .contacts__phone {
            padding: 4px 16px;
        }
    }
}