.interior {
    padding-top: 120px;
    &__counter {
        position: absolute;
        top: -95px;
        right: 0px;
        padding: 4px 18px;
        border-radius: 140px;
        border: 1px solid var(--second-color);
        width: fit-content;
        font-weight: 400;
    }

    &__slider {
        margin-top: 48px;
        position: relative;
    }

    .swiper {
        position: relative;
        width: 100%;
        height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
        overflow: hidden;
        border-radius: 20px;
    }

    .swiper-slide {
      position: relative;
      width: var(--swiper-width);
      transition: all .3s ease-in-out;
      overflow: hidden;
      border-radius: 20px;
      margin-right: 20px;
        &:after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            right: 0px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            top: 0px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 60.66%, rgba(255, 255, 255, 0) 100%);
            opacity: 0;
            transition: all .3s ease;
            visibility: hidden;
        }
        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            left: 0px;
            top: 0px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 60.66%, rgba(255, 255, 255, 0) 100%);
            opacity: 0;
            transition: all .3s ease;
            visibility: hidden;
        }
    }

    .swiper-slide-prev {
        border-radius: 20px;
        &:after {
            opacity: 1;
            visibility: visible;
          }
    }

    .swiper-slide-next {
        border-radius: 20px;
        &:before {
            opacity: 1;
            visibility: visible;
        }
    }
    
    .swiper-image {
      position: relative;
      width: 100%;
      padding-top: var(--swiper-image-ratio);
    }
        
    .swiper-image .image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #929ec9;
    }

    .swiper-arrow {
        position: absolute;
        border-radius: 140px;
        border: 1px solid var(--main-color);
        padding: 8px 16px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        transition: all .2s ease;
        svg {
            path {
                transition: all .2s ease;
            }
        }
        &:hover {
            border-color: var(--second-color);
            svg {
                path {
                    fill: var(--second-color);
                }
            }
        }
        &-prev {
            left: 40px;
        }
        &-next {
            right: 40px;
        }
    }

}

@media (max-width: 1199px) {
    .interior {
        .swiper-slide {
            width: 60%;
        }
    }
}

@media (max-width: 991px) {
    .interior {
        .swiper-slide {
            width: 100%;
            margin-right: 0px;
            img {
                width: 100%;
            }
        }
        &__counter {
            position: static;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .swiper {
            margin-top: 22px;
        }
        .swiper-navigation {
            position: static;
            display: flex;
            gap: 0px 8px;
        }
        .swiper-arrow {
            position: static;
            transform: translateY(0);
            border: 1px solid #D8D8E3;
            svg {
                path {
                    fill: #D8D8E3;
                }

            }
        }
    }
}

@media (max-width: 767px) {
    .interior {
        padding-top: 80px;
        &__slider {
            margin-top: 28px;
        }
    }
}

@media (max-width: 575px) {
    .interior {
        &__header {
            gap: 28px 0px;
        }
        &__title {
            max-width: 320px;
        }
        .swiper-navigation {
            position: absolute;
            top: 0px;
            right: 15px;
        }
        .swiper-arrow {
            position: static;
            transform: translateX(0);
            padding: 1px 16px;
            svg {
                width: 19px;
                height: 16px;
            }
        }
    }
}