.interior {
    padding-top: 120px;
    &__counter {
        padding: 4px 18px;
        border-radius: 140px;
        border: 1px solid var(--second-color);
        width: fit-content;
        font-weight: 400;
    }

    &__slider {
        margin-top: 48px;
        height: 394px;
    }

    .swiper {
        position: relative;
        width: 100%;
        height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
        overflow: hidden;
    }
    
    .swiper-slide {
      position: relative;
      width: var(--swiper-width);
      transition: all .3s ease-in-out;
      overflow: hidden;
      border-radius: 20px;
      margin-right: 20px;
      &:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        right: 0px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        top: 0px;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 60.66%, rgba(255, 255, 255, 0) 100%);
        opacity: 0;
        transition: all .3s ease;
      }
      &:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 60.66%, rgba(255, 255, 255, 0) 100%);
        opacity: 0;
        transition: all .3s ease;
    }
    }

    .swiper-slide-prev {
        &:after {
            opacity: 1;
          }
    }

    .swiper-slide-next {
        &:before {
            opacity: 1;
        }
    }
        
    .swiper-slide.swiper-slide-active {  
      transform: scale(1) !important;
      opacity: 1 !important;
    }
    
    .swiper-backface-hidden .swiper-slide.swiper-slide-active {
      transform: scale(1) translateZ(0) !important;
    }
    
    .swiper-image {
      position: relative;
      width: 100%;
      padding-top: var(--swiper-image-ratio);
    }
        
    .swiper-image .image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #929ec9;
    }
    
    .swiper-button-next,
    .swiper-button-prev {
      padding: 8px;
      width: 12px;
      height: 12px;
      margin-top: 0;
      background-color: rgba(0, 0, 0, .4);
      border-radius: 50%;
    }
    
    .swiper-button-next::after,
    .swiper-button-prev::after {
      color: #fff;
      font-size: 12px;
    }
    
    .swiper-button-next {
      transform: translate(50%, -50%);
      right: calc((100% - var(--swiper-width)) / 2);
    }
    
    .swiper-button-prev {
      transform: translate(-50%, -50%);
      left: calc((100% - var(--swiper-width)) / 2);
    }

}