.questions {
    padding-top: 120px;
    padding-bottom: 120px;
    &__wrapper {
        margin-top: 48px;
    }
    &__question {
        border-radius: 20px;
        padding: 16px 24px;
        border: 1px solid #D8D8E3;
    }
    &__answer {
        margin-top: 16px;
        max-width: 500px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px 0px;
    }
    &__details {
        position: relative;
        padding: 24px;
        border-radius: 20px;
        border: 1px solid #D8D8E3;
        min-height: 507px;
        max-height: 600px;
        overflow: hidden;
    }
    &__description {
        margin-top: 12px;
    }
    &__button {
        display: inline-block;
        margin-top: 42px;
    }
    &__image {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 292px;
        height: 353px;
        background-image: url("../../img/questions/woman.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__top {
        position: relative;
        &:after, &:before {
            content: "";
            position: absolute;
            right: 0px;
            top: 50%;
            transition: all .3s ease;

        }
        &:after {
            width: 18px;
            height: 2px;
            background-color: #D8D8E3;
            border-radius: 140px;

        }
        &:before {
            width: 18px;
            height: 2px;
            background-color: #D8D8E3;
            transform: rotate(90deg);
            border-radius: 140px;
        }
        &.active {
            &:after, &:before {
                background-color: var(--second-color);
            }
            &:after {
                transform: rotate(45deg);
            }
            &:before {
                transform: rotate(135deg);
            }
        }
    }
    &__caption {
        width: 93%;
        transition: all .3s ease;
        &.active {
            color: var(--second-color);
        }
    }
}


@media (max-width: 1199px) {
    .questions {
        &__caption.text__medium {
            font-size: 18px;
        }
        &__question {
            padding: 16px;
        }
    }
}

@media (max-width: 991px) {
    .questions {
        &__content {
            gap: 18px;
        }
        &__answer {
            max-width: 100%;
        }
        &__list {
            padding: 0px;
        }
    }
}

@media (max-width: 767px) {
    .questions {
        padding-top: 80px;
        padding-bottom: 80px;
        &__wrapper {
            margin-top: 28px;
        }
        &__image {
            display: none;
        }
        &__details {
            min-height: auto;
        }
        &__list {
            gap: 10px 0px;
        }
    }
}

@media (max-width: 575px) {
    .questions {
        &__caption.text__medium {
            font-size: 17px;
            line-height: 120%;
        }
        &__answer {
            margin-top: 12px;
        }
        &__top {
            &:after {
                width: 14px;
            }
            &:before {
                width: 14px;
            }
        }
        &__details {
            padding: 28px;
        }
        &__button {
            margin-top: 18px;
            padding: 12px 23px;
        }
    }
}