.text {
    &__h1 {
        font-family: 'Kudryashev';
        font-weight: 500;
        font-size: 67px;
        line-height: 120%;
        color: var(--main-color);
        word-wrap: break-word;
    }
    &__h2 {
        font-family: 'Kudryashev';
        font-weight: 500;
        font-size: 51px;
        line-height: 120%;
        color: var(--main-color);
        word-wrap: break-word;
    }
    &__h3 {
        font-family: 'Kudryashev';
        font-weight: 500;
        font-size: 38px;
        line-height: 110%;
        color: var(--main-color);
        word-wrap: break-word;
    }
    &__caption {
        font-family: 'Kudryashev';
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: var(--main-color);
        word-wrap: break-word;
    }
    &__regular {
        font-weight: 500;
        font-size: 16px;
        line-height: 155%;
        color: var(--main-color);
        word-wrap: break-word;
        &-grey {
            color: var(--grey-color);
        }
    }
    &__medium {
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;
        color: var(--main-color);
        word-wrap: break-word;
    }
}

@media (max-width: 1199px) {
    .text {
        &__h1 {
            font-size: 55px;
        }
    }
}
@media (max-width: 991px) {
    .text {
        &__h1 {
            font-size: 46px;
        }
    }
}

@media (max-width: 767px) {
    .text {
        &__h1 {
            font-size: 40px;
        }
    }
}

@media (max-width: 575px) {
    .text {
        &__h1 {
            font-size: 36px;
            line-height: 120%;
        }
        &__regular {
            font-size: 14px;
            line-height: 145%;

        }
    }
}