.text {
    &__h1 {
        font-family: 'Kudryashev';
        font-weight: 500;
        font-size: 67px;
        line-height: 120%;
        color: var(--main-color);
        word-wrap: break-word;
        .text__inner {
            font-family: "Kudryashev";
            font-weight: 500;
            font-size: 67px;
            text-transform: uppercase;
        }
    }
    &__h2 {
        font-family: 'Kudryashev';
        font-weight: 500;
        font-size: 51px;
        line-height: 120%;
        color: var(--main-color);
        word-wrap: break-word;
        .text__inner {
            font-family: "Kudryashev";
            font-size: 51px;
            line-height: 120%;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    &__h3 {
        font-family: 'Kudryashev';
        font-weight: 500;
        font-size: 38px;
        line-height: 110%;
        color: var(--main-color);
        word-wrap: break-word;
    }
    &__caption {
        font-family: 'Kudryashev';
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: var(--main-color);
        word-wrap: break-word;
    }
    &__regular {
        font-weight: 500;
        font-size: 16px;
        line-height: 155%;
        color: var(--main-color);
        word-wrap: break-word;
        &-400 {
            font-weight: 400;
        }
        &-grey {
            color: var(--grey-color);
        }
        &-second {
            color: var(--second-color);
        }
    }
    &__sm {
        font-weight: 400;
        font-size: 12px;
        line-height: 135%;
        color: var(--main-color);
    }
    &__medium {
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;
        color: var(--main-color);
        word-wrap: break-word;
        &-font {
            font-family: 'Kudryashev';
        }
    }
}

@media (max-width: 1199px) {
    .text {
        &__h1 {
            font-size: 55px;
            .text__inner {
                font-size: 55px;
            }
        }
        &__h2 {
            font-size: 45px;
            .text__inner {
                font-size: 45px;
            }
        }
    }
}
@media (max-width: 991px) {
    .text {
        &__h1 {
            font-size: 46px;
            .text__inner {
                font-size: 46px;
            }
        }
        &__h2 {
            font-size: 38px;
            .text__inner {
                font-size: 38px;
            }
        }
    }
}

@media (max-width: 767px) {
    .text {
        &__h1 {
            font-size: 40px;
            .text__inner {
                font-size: 40px;
            }
        }
        &__h2 {
            font-size: 35px;
            .text__inner {
                font-size: 35px;
            }
        }
    }
}

@media (max-width: 575px) {
    .text {
        &__h1 {
            font-size: 38px;
            line-height: 120%;
            .text__inner {
                font-size: 38px;
            }
        }
        &__h2 {
            font-size: 28px;
            line-height: 120%;
            .text__inner {
                font-size: 28px;
                line-height: 120%;
            }
        }
        &__h3 {
            font-size: 24px;
            line-height: 120%;
        }
        &__caption {
            font-size: 24px;
            line-height: 120%;
        }
        &__regular {
            font-size: 14px;
            line-height: 145%;
        }
        &__medium {
            font-size: 17px;
            line-height: 120%;
        }
        &__sm {
            font-size: 10px;
            line-height: 13.5px;
        }
    }
}