.video {
    padding-top: 120px;
    &__wrapper {
        margin-top: 48px;
    }
    &__video {
        height: 596px;
        width: 100%;
        iframe {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
}

@media (max-width: 991px) {
    .video {
        &__video {
            height: 436px;
        }
    }
}


@media (max-width: 767px) {
    .video {
        padding-top: 80px;
        &__wrapper {
            margin-top: 28px;
        }
    }
}