.video {
    padding-top: 120px;
    &__wrapper {
        margin-top: 48px;
    }
    &__video {
        position: relative;
        height: 596px;
        width: 100%;
        iframe {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
    &__button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 92px;
        height: 92px;
        border-radius: 12px;
        background-color: #F6CBE8;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
        svg {
            width: 30px;
            height: 30px;
        }
        &:hover {
            background-color: var(--main-color);
            svg {
                path {
                    fill: var(--second-color);
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .video {
        &__video {
            height: 436px;
        }
    }
}


@media (max-width: 767px) {
    .video {
        padding-top: 80px;
        &__wrapper {
            margin-top: 28px;
        }
        &__button {
            width: 76px;
            height: 56px;
            svg {
                width: 20px;
                height: 20px;
            }
        }

    }
}

// @media (max-width: 575px) {

// }