@font-face{
	font-family: 'Pangram';
	font-display: swap;
	src: url("../fonts/Pangram-Regular.woff2") format("woff2"), url("../fonts/Pangram-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Pangram';
	font-display: swap;
	src: url("../fonts/Pangram-Medium.woff2") format("woff2"), url("../fonts/Pangram-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: 'Kudryashev';
	font-display: swap;
	src: url("../fonts/KudryashevHeadline-Regular.woff2") format("woff2"), url("../fonts/KudryashevHeadline-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Kudryashev';
	font-display: swap;
	src: url("../fonts/KudryashevHeadline-Sans.woff2") format("woff2"), url("../fonts/KudryashevHeadline-Sans.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}