@import "./fonts";
@import "./lib/bootstrap.min";
@import "./lib/bootstrap-reboot.min";

:root {
    --main-color: #1A286F;
    --second-color: #F57CCA;
    --grey-color: #82828E;
    --bg-color: #ECEEF7;
    --default-font-family: "Pangram";
}

body {
  font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: "Pangram";
  }
  
  img {
    display: block;
  }
  
  a {
    text-decoration: none;
    display: block;
  }
  
  button {
    border: none;
    background-color: transparent;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  input::-moz-placeholder {
    box-sizing: border-box;
    font-family: var(--default-font-family);
  }
  
  input, input::placeholder {
    box-sizing: border-box;
    font-family: var(--default-font-family);
  }
  

.wrapper {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* высота веб-страницы больше или равна высоте окна браузера */
    margin: 0;
}

.content {
    flex: 1; /* если содержимое body меньше высоты окна, то section будет растянут до нужной величины */
    white-space: pre-line;
    -ms-flex-preferred-size: auto;
}

.secondary-color {
  color: var(--second-color);
}



@import "./components/header";
@import "./components/logo";
@import "./components/contacts";
@import "./components/nav";
@import "./components/burger";